body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 0 0 70%; /* 70% width for game */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.right {
  flex: 0 0 30%; /* 30% width for text */
  padding: 30px;
  overflow-y: auto;
  background: #fff;
}

.game-container canvas {
  width: 95%;   /* make canvas almost full height of left container */
  height: auto;
  max-height: 95%;
}
